@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Saira+Condensed:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.93);
  color: rgb(231, 226, 226);
  font-family: "Saira Condensed", sans-serif;
  transition: all 0.5s;
}
body nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px 12px 35px;
  position: fixed;
  top: 10px;
  left: 3%;
  width: 94%;
  background: rgb(18, 18, 18);
  z-index: 99;
  border-radius: 30px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7), 1px 1px 4px rgba(0, 0, 0, 0.7) inset;
}
body nav a {
  font-size: 0.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  height: 20px;
  width: 75px;
  line-height: 20px;
  text-align: center;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding-left: 5px;
}
body nav a:before {
  content: "";
  position: absolute;
  height: 40px;
  width: 75px;
  top: -8px;
  left: 0px;
  border-left: 2px solid #ff244c;
  border-right: 2px solid white;
  transition: all 1s;
}
body nav a:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 95px;
  top: 0px;
  left: -8px;
  border-top: 2px solid #ff244c;
  border-bottom: 2px solid white;
  transition: all 1s;
}
body nav a span {
  color: #ff244c;
  font-size: 1rem;
  font-weight: bold;
}
body nav a:hover:before {
  transform: rotateY(180deg);
}
body nav a:hover:after {
  transform: rotateX(180deg);
}
body nav .search {
  width: 50%;
  height: 1.8rem;
  padding-left: 0.5rem;
  outline: none;
  background: #d1cbcb;
  border: none;
  border-radius: 15px;
  color: #282727;
  transition: all 0.5s;
}
body nav .search:focus {
  border: 2px solid #ff244c;
}
body nav div span {
  display: block;
  font-size: 1.1rem;
  cursor: pointer;
  animation: rotate 20s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
body .spinner-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
body .spinner-container .spinner {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-bottom: 10rem;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #ff244c);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 2px), #000 0);
          mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 2px), #000 0);
  animation: rotate 1.5s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
body .Journal {
  transition: all 0.5s;
}
body .Journal .input_section {
  width: 90%;
  margin: 0 auto;
  padding: 105px 0 50px 0;
}
body .Journal .input_section .input_area {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  padding: 10px 13px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  position: relative;
  transition: all 0.5s 0.3s;
}
body .Journal .input_section .input_area a {
  text-decoration: none;
  color: rgb(231, 226, 226);
}
body .Journal .input_section .input_area a p {
  font-weight: 400;
  line-height: 30px;
}
body .Journal .input_section .input_area a p span {
  font-size: 2.8em;
  line-height: 0;
}
body .Journal .input_section .input_area a h3 {
  padding-bottom: 5px;
  font-weight: 600;
}
body .Journal .input_section .input_area .hidden_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: rgb(14, 14, 14);
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-radius: 0 0 15px 15px;
  display: none;
  cursor: pointer;
  z-index: 10;
}
body .Journal .input_section .input_area .hidden_flex .hidden_img {
  width: 70%;
  display: flex;
  gap: 7px;
}
body .Journal .input_section .input_area .hidden_flex .hidden_img span {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}
body .Journal .input_section .input_area .hidden_flex button {
  background: none;
  color: #fff;
  border: none;
}
body .Journal .input_section .input_area .hidden_flex button .icon {
  font-size: 1.2rem;
  color: #d12a2a;
  cursor: pointer;
}
body .Journal .input_section .input_area:hover {
  background: rgba(0, 0, 0, 0.6);
}
body .Journal .input_section .input_area:hover .hidden_flex {
  display: flex;
}
body .Journal .input_section .input_area1 {
  box-shadow: 1px 1px 4px #000, 1px 1px 4px #000 inset;
}
body .Journal .input_section .input_area2 {
  box-shadow: none;
}
body .add_journal span {
  background: #fff;
  color: #282727;
  position: fixed;
  bottom: 80px;
  right: 83px;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 10px 10px 0 10px;
  opacity: 0;
  transition: all 0.8s 0.2s;
  z-index: 990;
}
body .add_journal a {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #ff244c;
  padding: 0 20px 5px 20px;
  border-radius: 10px;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
  z-index: 990;
}
body .add_journal a:hover + span {
  opacity: 1;
}
body .settings {
  font-size: 2.5rem;
  position: fixed;
  bottom: 80px;
  right: 33px;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
  z-index: 990;
}
body .disp {
  background: #fff;
  color: #282727;
  position: fixed;
  bottom: 105px;
  right: 80px;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 10px 10px 10px 10px;
  opacity: 0;
  transition: all 0.8s 0.2s;
  z-index: 990;
}
body .settings:hover + .disp {
  opacity: 1;
}
body .settings-items {
  position: fixed;
  bottom: 145px;
  right: 20px;
  list-style: none;
  background: #fff;
  color: #191818;
  padding: 0.5rem;
  border-radius: 13px;
  transition: all 0.4s;
  z-index: 990;
}
body .settings-items li {
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
  font-family: "roboto";
  transition: all 0.4s;
  padding: 3px 0.5rem;
  cursor: pointer;
}
body .settings-items li .icon {
  font-size: 1rem;
  color: #ff244c;
}
body .settings-items li:hover {
  background: #eee6e6;
  border-radius: 5px;
}
body .clear-all {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  z-index: 999;
}
body .clear-all .container {
  background: rgb(14, 14, 14);
  width: 80%;
  padding: 1.5rem;
  border-radius: 10px;
}
body .clear-all .container h1 {
  font-size: 1rem;
}
body .clear-all .container span {
  cursor: pointer;
}
body .clear-all .container .spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .clear-all .container p {
  padding: 0.5rem 0;
  font-size: 0.9rem;
}
body .clear-all .container .action {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
}
body .clear-all .container .action button {
  padding: 0.5rem 0.9rem;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
}
body .clear-all .container .action button:first-child {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
body .clear-all .container .action button:last-child {
  background: red;
  color: #fff;
  border: none;
  padding: 0.55rem 0.9rem;
}
body .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "roboto";
  text-align: center;
}
body .empty div {
  background: rgb(14, 14, 14);
  color: #f4f4f4;
  width: 80%;
  padding: 2rem;
}
body .empty div h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
body .empty div p {
  font-size: 0.9rem;
}
body .empty div button {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background: #ff224a;
  font-family: "Saira Condensed", sans-serif;
  font-size: 0.8em;
  color: #fff;
  margin-top: 1rem;
}
body .empty div button:hover {
  background: rgb(235, 76, 105);
}
body .notification {
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  transition: all 0.4s;
}
body .notification div {
  background: #c1baba;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #000;
  font-size: 0.8rem;
  font-family: "roboto", sans-serif;
  white-space: nowrap;
  transition: 0.4s;
}
body .notification div .exit {
  background: #d12a2a;
  color: #fff;
  padding: 0.05rem;
  border-radius: 120%;
  font-size: 0.8rem;
  cursor: pointer;
}
body .Create {
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 4px #000, 1px 1px 4px #000 inset;
  border-radius: 10px;
  margin-top: 105px;
  transition: all 0.5s;
}
body .Create input,
body .Create textarea {
  width: 100%;
  resize: none;
  outline: none;
  padding: 10px;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1em;
  border: none;
  background: none;
  color: #fff;
  font-weight: 200;
}
body .Create input::-moz-placeholder, body .Create textarea::-moz-placeholder {
  color: #c1baba;
}
body .Create input::placeholder,
body .Create textarea::placeholder {
  color: #c1baba;
}
body .Create input {
  height: 40px;
  font-size: 1.1em;
  font-weight: 500;
}
body .Create .button {
  text-align: end;
}
body .Create .button button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background: #ff224a;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1em;
  text-decoration: none;
  color: #fff;
  margin: 0 1rem 1rem 0;
}
body .Create .button button:hover {
  background: rgb(235, 76, 105);
}
body .Note {
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 4px #000, 1px 1px 4px #000 inset;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 70px;
  margin-top: 105px;
  transition: all 0.5s;
}
body .Note div h3 {
  margin-bottom: 10px;
}
body .Note div p {
  line-height: 30px;
}
body .Note div .button {
  text-align: end;
}
body .Note div .button button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  background: #ff224a;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1em;
}
body .Note div .button button a {
  text-decoration: none;
  color: #e6dede;
}
body .Note div .button button:hover {
  background: rgb(235, 76, 105);
}
body .invalid-page {
  background: #fff;
  height: 100vh;
  color: #ff244c;
  text-align: center;
  padding-top: 5rem;
}
body .invalid-page h1 {
  font-size: 5rem;
  line-height: 110px;
}
body .invalid-page h1 span {
  font-size: 8rem;
}
body .invalid-page p {
  font-size: 1rem;
  margin-left: 3rem;
  font-family: "roboto";
  color: #282727;
}
body .invalid-page a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #ff224a;
  color: #282727;
  font-size: 0.8rem;
  margin: 1rem 8rem 0 0;
  padding: 0.3rem;
  border-radius: 15px 15px 0 15px;
  font-family: roboto;
}

.light-mode {
  background: #fed656;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;
}
.light-mode nav {
  background: #fed656;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
  transition: all 0.5s;
}
.light-mode .Journal {
  transition: all 0.5s;
}
.light-mode .Journal .input_section .input_area {
  background: none;
}
.light-mode .Journal .input_section .input_area p {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.8);
}
.light-mode .Journal .input_section .input_area h3 {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.05em;
}
.light-mode .Journal .input_section .input_area:hover {
  background: none;
}
.light-mode .Journal .input_section .input_area .hidden_flex {
  background: #fff;
  bottom: 1px;
  left: 1px;
  right: 1px;
  width: 99.4%;
}
.light-mode .Journal .input_section .input_area1 {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
}
.light-mode .Journal .input_section .input_area2 {
  box-shadow: none;
}
.light-mode .add_journal {
  font-family: "Saira Condensed", sans-serif;
}
.light-mode .settings {
  color: #272424;
}
.light-mode .clear-all {
  background: rgba(0, 0, 0, 0.4);
}
.light-mode .clear-all .container {
  background: #d1cbcb;
  color: #474545;
}
.light-mode .clear-all .container h1 {
  font-weight: 500;
}
.light-mode .clear-all .container .action button:first-child {
  color: #474545;
  border: 1px solid #555252;
}
.light-mode .empty div {
  background: #d1cbcb;
  color: #474545;
}
.light-mode .Create {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
  transition: all 0.5s;
}
.light-mode .Create input,
.light-mode .Create textarea {
  background: none;
  color: rgba(0, 0, 0, 0.8);
}
.light-mode .Create input::-moz-placeholder, .light-mode .Create textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.light-mode .Create input::placeholder,
.light-mode .Create textarea::placeholder {
  color: rgba(0, 0, 0, 0.8);
}
.light-mode .Note {
  background: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 2px 2px 2px rgba(0, 0, 0, 0.2) inset;
  transition: all 0.5s;
}
.light-mode .Note p {
  line-height: 27px;
  font-size: 0.95em;
}
.light-mode .Note h3 {
  font-weight: 500;
  font-size: 1em;
}

@media screen and (min-width: 370px) {
  body .spinner-container .spinner {
    width: 2rem;
    height: 2rem;
    -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 3px), #000 0);
            mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 3px), #000 0);
  }
  body .Journal .input_section {
    -moz-columns: 2;
         columns: 2;
    gap: 10px;
  }
  body .Journal .input_section .input_area .hidden_flex .hidden_img {
    gap: 0.3rem;
  }
  body .Journal .input_section .input_area .hidden_flex .hidden_img span {
    width: 0.8rem;
    height: 0.8rem;
  }
  body .Journal .input_section .input_area .hidden_flex button {
    padding: 0.1rem 0.3rem;
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 523px) {
  body .spinner-container .spinner {
    width: 3rem;
    height: 3rem;
    -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 4px), #000 0);
            mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 4px), #000 0);
  }
  body .Journal .input_section .input_area .hidden_flex .hidden_img {
    gap: 0.7rem;
  }
  body .Journal .input_section .input_area .hidden_flex .hidden_img span {
    width: 1.2rem;
    height: 1.2rem;
  }
  body .Journal .input_section .input_area .hidden_flex button {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
  }
  body .clear-all .container {
    width: 65%;
  }
}
@media screen and (min-width: 700px) {
  body nav {
    padding: 15px 20px 15px 35px;
  }
  body nav a {
    font-size: 1em;
    height: 30px;
    width: 85px;
    line-height: 30px;
  }
  body nav a:before {
    height: 50px;
    width: 85px;
  }
  body nav a:after {
    height: 30px;
    width: 105px;
  }
  body nav a span {
    font-size: 1.2rem;
  }
  body nav .search {
    width: 70%;
    height: 2.5rem;
  }
  body nav div span {
    font-size: 1.4rem;
  }
  body .Journal .input_section {
    -moz-columns: 3;
         columns: 3;
  }
  body .Journal .input_section .input_area .hidden_flex .hidden_img {
    gap: 0.5rem;
  }
  body .Journal .input_section .input_area .hidden_flex .hidden_img span {
    width: 1rem;
    height: 1rem;
  }
  body .Journal .input_section button {
    padding: 0.1rem 0.4rem;
    font-size: 0.6rem;
  }
  body .settings-items {
    bottom: 95px;
    right: 90px;
    border-radius: 13px 13px 0 13px;
  }
  body .settings-items li {
    display: inline-flex;
    padding: 5px 0.8rem;
  }
  body .clear-all .container {
    width: 50%;
  }
  body .invalid-page h1 {
    font-size: 7rem;
    line-height: 150px;
  }
  body .invalid-page h1 span {
    font-size: 10rem;
  }
  body .invalid-page p {
    margin-left: 7rem;
  }
  body .invalid-page a {
    margin: 1rem 6rem 0 0;
    padding: 0.5rem;
  }
}
@media screen and (min-width: 900px) {
  body nav .search {
    margin-left: 10rem;
    width: 60%;
  }
  body .Journal .input_section {
    -moz-columns: 4;
         columns: 4;
  }
  body .Journal .input_section .input_area .hidden_flex .hidden_img {
    gap: 0.3rem;
  }
  body .clear-all .container {
    width: 40%;
  }
}
@media screen and (min-width: 1100px) {
  body nav .search {
    margin-left: 15rem;
  }
  body .Journal .input_section {
    -moz-columns: 5;
         columns: 5;
  }
  body .clear-all .container {
    width: 30%;
  }
}
@media screen and (min-width: 1300px) {
  body nav .search {
    margin-left: 20rem;
  }
  body .Journal .input_section {
    -moz-columns: 6;
         columns: 6;
  }
}
@media screen and (min-width: 1500px) {
  body .spinner-container .spinner {
    width: 5rem;
    height: 5rem;
    -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 6px), #000 0);
            mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - 6px), #000 0);
  }
  body nav .search {
    margin-left: 25rem;
  }
  body .Journal .input_section {
    -moz-columns: 7;
         columns: 7;
  }
  body .clear-all .container {
    width: 20%;
  }
}
@media screen and (min-width: 1700px) {
  body nav .search {
    margin-left: 30rem;
  }
  body .Journal .input_section {
    -moz-columns: 8;
         columns: 8;
  }
}
@media screen and (min-width: 1900px) {
  body nav .search {
    margin-left: 35rem;
  }
  body .Journal .input_section {
    -moz-columns: 9;
         columns: 9;
  }
}/*# sourceMappingURL=App.css.map */