@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Saira+Condensed:wght@100;200;300;400;500;600&display=swap");
//@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0, 0.93);
  color: rgb(231, 226, 226);
  font-family: "Saira Condensed", sans-serif;
  transition: all 0.5s;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 12px 35px;
    position: fixed;
    top: 10px;
    left: 3%;
    width: 94%;
    background: rgb(18, 18, 18);
    z-index: 99;
    border-radius: 30px;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.7),
      1px 1px 4px rgb(0, 0, 0, 0.7) inset;

    a {
      font-size: 0.8em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 500;
      letter-spacing: 3px;
      height: 20px;
      width: 75px;
      line-height: 20px;
      text-align: center;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding-left: 5px;

      &:before {
        content: "";
        position: absolute;
        height: 40px;
        width: 75px;
        top: -8px;
        left: 0px;
        border-left: 2px solid #ff244c;
        border-right: 2px solid white;
        transition: all 1s;
      }

      &:after {
        content: "";
        position: absolute;
        height: 20px;
        width: 95px;
        top: 0px;
        left: -8px;
        border-top: 2px solid #ff244c;
        border-bottom: 2px solid white;
        transition: all 1s;
      }

      span {
        color: #ff244c;
        font-size: 1rem;
        font-weight: bold;
      }

      &:hover:before {
        transform: rotateY(180deg);
      }

      &:hover:after {
        transform: rotateX(180deg);
      }
    }

    .search {
      width: 50%;
      height: 1.8rem;
      padding-left: 0.5rem;
      outline: none;
      background: #d1cbcb;
      border: none;
      border-radius: 15px;
      color: #282727;
      transition: all 0.5s;

      &:focus {
        border: 2px solid #ff244c;
      }
    }

    div {
      span {
        display: block;
        font-size: 1.1rem;
        cursor: pointer;
        animation: rotate 20s infinite linear;

        @keyframes rotate {
          0% {
            transform: rotate(0);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  .Journal {
    transition: all 0.5s;

    .input_section {
      grid-column-gap: 10px;
      width: 90%;
      margin: 0 auto;
      padding: 105px 0 50px 0;

      .input_area {
        break-inside: avoid;
        padding: 10px 13px;
        border-radius: 15px;
        background: #00000033;
        //box-shadow: 1px 1px 4px #000, 1px 1px 4px #000 inset;
        margin-bottom: 10px;
        position: relative;
        transition: all 0.5s 0.3s;

        a {
          text-decoration: none;
          color: rgb(231, 226, 226);

          p {
            font-weight: 400;
            line-height: 30px;

            span {
              font-size: 2.8em;
              line-height: 0;
            }
          }

          h3 {
            padding-bottom: 5px;
            font-weight: 600;
          }
        }

        .hidden_flex {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          background: rgb(14, 14, 14);
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          border-radius: 0 0 15px 15px;
          display: none;
          cursor: pointer;
          z-index: 10;

          .hidden_img {
            width: 70%;
            display: flex;
            gap: 7px;

            span {
              width: 1.2rem;
              height: 1.2rem;
              border-radius: 50%;
            }
          }

          button {
            background: #ff244c;
            color: #fff;
            border: none;
            font-weight: 100;
            padding: 3px 8px;
            border-radius: 3px;
          }
        }

        &:hover {
          background: rgb(0, 0, 0, 0.6);

          .hidden_flex {
            display: flex;
          }
        }
      }

      .input_area1 {
        box-shadow: 1px 1px 4px #000, 1px 1px 4px #000 inset;
      }
      .input_area2 {
        box-shadow: none;
      }
    }

    .add_journal {
      position: fixed;
      bottom: 25px;
      right: 25px;

      a {
        background: #ff244c;
        padding: 0 20px 5px 20px;
        border-radius: 10px;
        font-size: 2em;
        text-decoration: none;
        color: #fff;
      }
    }
  }

  .Create {
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 4px #000, 1px 1px 4px #000 inset;
    border-radius: 10px;
    margin-top: 105px;
    transition: all 0.5s;

    input,
    textarea {
      width: 100%;
      resize: none;
      outline: none;
      padding: 10px;
      font-family: "Saira Condensed", sans-serif;
      font-size: 1em;
      border: none;
      background: none;
      color: #fff;
      font-weight: 200;

      &::placeholder {
        color: #c1baba;
      }
    }

    input {
      height: 40px;
      font-size: 1.1em;
      font-weight: 500;
    }

    .button {
      text-align: end;

      button {
        padding: 5px 20px;
        border: none;
        border-radius: 5px;
        background: #ff224a;
        font-family: "Saira Condensed", sans-serif;
        font-size: 1em;
        text-decoration: none;
        color: #fff;
        margin: 0 1rem 1rem 0;

        &:hover {
          background: rgb(235, 76, 105);
        }
      }
    }
  }

  .Note {
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 4px #000, 1px 1px 4px #000 inset;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 70px;
    margin-top: 105px;
    transition: all 0.5s;

    div {
      h3 {
        margin-bottom: 10px;
      }

      p {
        line-height: 30px;
      }

      .button {
        text-align: end;

        button {
          padding: 5px 20px;
          border: none;
          border-radius: 5px;
          background: #ff224a;
          font-family: "Saira Condensed", sans-serif;
          font-size: 1em;

          a {
            text-decoration: none;
            color: #fff;
          }

          &:hover {
            background: rgb(235, 76, 105);
          }
        }
      }
    }
  }
}

.light-mode {
  background: #fed656;
  color: rgb(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  transition: all 0.5s;

  nav {
    background: #fed656;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2),
      2px 2px 2px rgb(0, 0, 0, 0.2) inset;
    transition: all 0.5s;
  }

  .Journal {
    transition: all 0.5s;

    .input_section {
      .input_area {
        background: none;
        //box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2),
        //2px 2px 2px rgb(0, 0, 0, 0.2) inset;

        p {
          font-weight: 400;
          font-size: 0.9em;
          line-height: 23px;
          color: rgb(0, 0, 0, 0.8);
        }

        h3 {
          font-weight: 500;
          color: rgb(0, 0, 0, 0.6);
          font-size: 1.05em;
        }

        &:hover {
          background: none;
          // box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3),
          //   1px 1px 2px rgb(0, 0, 0, 0.3) inset;
        }

        .hidden_flex {
          background: #fff;
          bottom: 1px;
          left: 1px;
          right: 1px;
          width: 99.4%;
        }
      }

      .input_area1 {
        box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2),
          2px 2px 2px rgb(0, 0, 0, 0.2) inset;
      }
      .input_area2 {
        box-shadow: none;
      }
    }

    .add_journal {
      font-family: "Saira Condensed", sans-serif;
    }
  }

  .Create {
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2),
      2px 2px 2px rgb(0, 0, 0, 0.2) inset;
    transition: all 0.5s;

    input,
    textarea {
      background: none;
      color: rgb(0, 0, 0, 0.8);

      &::placeholder {
        color: rgb(0, 0, 0, 0.8);
      }
    }
  }

  .Note {
    background: none;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2),
      2px 2px 2px rgb(0, 0, 0, 0.2) inset;
    transition: all 0.5s;

    p {
      line-height: 27px;
      font-size: 0.95em;
    }

    h3 {
      font-weight: 500;
      font-size: 1em;
    }
  }
}

@media screen and (min-width: 370px) {
  body {
    .Journal .input_section {
      columns: 2;

      .input_area .hidden_flex {
        .hidden_img {
          gap: 0.3rem;

          span {
            width: 0.8rem;
            height: 0.8rem;
          }
        }

        button {
          padding: 0.1rem 0.3rem;
          font-size: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 523px) {
  body {
    .Journal .input_section .input_area .hidden_flex {
      .hidden_img {
        gap: 0.7rem;

        span {
          width: 1.2rem;
          height: 1.2rem;
        }
      }

      button {
        padding: 0.2rem 0.5rem;
        font-size: 0.8rem;
      }
    }
  }
}
@media screen and (min-width: 700px) {
  body {
    nav {
      padding: 15px 20px 15px 35px;

      a {
        font-size: 1em;
        height: 30px;
        width: 85px;
        line-height: 30px;

        &:before {
          height: 50px;
          width: 85px;
        }

        &:after {
          height: 30px;
          width: 105px;
        }

        span {
          font-size: 1.2rem;
        }
      }

      .search {
        width: 70%;
        height: 2.5rem;
      }

      div span {
        font-size: 1.4rem;
      }
    }

    .Journal .input_section {
      columns: 3;

      .input_area .hidden_flex .hidden_img {
        gap: 0.5rem;

        span {
          width: 1rem;
          height: 1rem;
        }
      }

      button {
        padding: 0.1rem 0.4rem;
        font-size: 0.6rem;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  body {
    nav .search {
      margin-left: 10rem;
      width: 60%;
    }

    .Journal .input_section {
      columns: 4;

      .input_area .hidden_flex .hidden_img {
        gap: 0.3rem;
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  body {
    nav .search {
      margin-left: 15rem;
    }

    .Journal .input_section {
      columns: 5;
    }
  }
}
@media screen and (min-width: 1300px) {
  body {
    nav .search {
      margin-left: 20rem;
    }

    .Journal .input_section {
      columns: 6;
    }
  }
}
@media screen and (min-width: 1500px) {
  body {
    nav .search {
      margin-left: 25rem;
    }

    .Journal .input_section {
      columns: 7;
    }
  }
}
@media screen and (min-width: 1700px) {
  body {
    nav .search {
      margin-left: 30rem;
    }

    .Journal .input_section {
      columns: 8;
    }
  }
}
@media screen and (min-width: 1900px) {
  body {
    nav .search {
      margin-left: 35rem;
    }

    .Journal .input_section {
      columns: 9;
    }
  }
}
